 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Курсы</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li {{#if isHome}} class="active" {{/if}} ><a href="/">Главная</a></li>
        <li {{#if isCourses}} class="active" {{/if}}><a href="/courses">Курсы</a></li>
        <li {{#if isAdd}} class="active" {{/if}}><a href="/add">Добавить курс</a></li>
         <li {{#if isCard}} class="active" {{/if}}><a href="/card">Корзина</a></li>
      </ul>
    </div>
  </nav>