<h1>Добавить курс</h1>
<p>
    <form action="/add" method="POST">
        <div class="input-field col s6">
          <input placeholder="Введите название" name="title" id="title" type="text" required class="validate">
          <label for="course">Введите название курса</label>
          <span class="helper-text" data-error="Пустое название" ></span>   
        </div>
        <div class="input-field col s6">
          <input placeholder="Введите цену" name="price" id="price" type="number" required class="validate">
          <label for="course">Введите цену курса</label>
          <span class="helper-text" data-error="Пустая цена" ></span>
          
        </div>
        <div class="input-field col s6">
          <input placeholder="Введите название картинки" name="img" id="img" type="text" required class="validate">
          <label for="course">Введите название картинки</label>
          <span class="helper-text" data-error="Пустое название картинки" ></span>   
        </div>
        <button class="btn btn-primary">Отправить</button>

    </form>
</p>