<h1>Корзина</h1>
{{#if courses.length }}
 <div id="card">
  <table>
      <thead>
          <tr>
              <th>Название</th>
              <th>Цена</th>
              <th>Количество</th>
              <th>Действие</th>  
          </tr>
      </thead>
      <tbody>
          {{#each courses}}
          <tr>
              <td>{{title}}</td>
              <td>{{price}}</td>
              <td>{{count}}</td>
              <td><button class="btn btn-small js-remove" data-id="{{id}}" onclick="remove_course('{{id}}',this)">Удалить</button></td>
          </tr>
          {{/each}}
      </tbody>
  </table>
  Сумма: <span id="span_price">{{price}}</span>
  </div>
{{else}}
  Корзина пуста
{{/if}}