<h1>Редактировать курс</h1>
 <p>
    <form action="/courses/update/" method="POST">
        <div class="input-field col s6">
          <input placeholder="Введите название" name="title" id="title" type="text" required class="validate" value="{{course.title}}">
          <label for="course">Введите название курса</label>
          <span class="helper-text" data-error="Пустое название" ></span>   
        </div>
        <div class="input-field col s6">
          <input placeholder="Введите цену" name="price" id="price" type="number" required class="validate" value="{{course.price}}">
          <label for="course">Введите цену курса</label>
          <span class="helper-text" data-error="Пустая цена" ></span>
          
        </div>
        <div class="input-field col s6">
          <input placeholder="Введите название картинки" name="img" id="img" type="text" required class="validate" value="{{course.img}}">
          <label for="course">Введите название картинки</label>
          <span class="helper-text" data-error="Пустое название картинки" ></span>   
        </div>
        <input type="hidden" value="{{course.id}}" name="id" >
        <button class="btn btn-primary">Записать</button>

    </form>
</p>