<h1>Курсы</h1>
{{#if courses.length }}
  {{#each courses}}
    <div class="col s12 m7">
    <h2 class="header">{{title}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Цена {{price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{id}}">Просмотр</a>
             <a href="/courses/{{id}}/edit">Редактировать</a>
             <form action="/card/add/" method="POST">
               <input type="hidden" name="id" value="{{id}}">
               <button class="btn btn-primary">Купить</button>
             </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  
{{/if}}