<div class="col s12 m7">
    <h2 class="header">{{course.title}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{course.img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Цена {{course.price}}</p>
        </div>
        <div class="card-action">
          <a href="/courses">Назад</a>
        </div>
      </div>
    </div>
  </div>