.nav-wrapper {
    padding: 0 2rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card.horizontal .card-image img {
  max-width: 200px;
}